.memory-updated-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  opacity: 0.55;

  &:hover {
    opacity: 1;
  }

  .memory-icon {
    width: 16px;
    height: 16px;
    background: url(../../../assets/icons/memory-manage.svg) center;
    background-size: 100%;
  }
}
