.header {
  padding-bottom: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

::ng-deep .tip-icon {
  font-size: 14px !important;
  color: #1476ff;
}

.download {
  color: #1476ff;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #1476ff;
    text-decoration: underline;
  }
}
