<nz-table
  #basicTable
  id="memory-lib-list"
  [nzData]="libs() || []"
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  [nzNoResult]="emptyTpl"
  nzTableLayout="fixed"
>
  <thead>
  <tr>
    <th nzWidth="60px">{{ 'memory.management.list.icon' | i18nextEager }}</th>
    <th>{{ 'memory.listHeader.nameAndId' | i18nextEager }}</th>
    <th>{{ 'memory.detail.description' | i18nextEager }}</th>
    <th>{{ 'memory.listHeader.strategy' | i18nextEager }}</th>
    <th>{{ 'memory.listHeader.createTime' | i18nextEager }}</th>
    <th>{{ 'memory.listHeader.updateTime' | i18nextEager }}</th>
    <th nzWidth="120px">{{ 'memory.listHeader.operator' | i18nextEager }}</th>
  </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data.memory_repo_id) {
      <tr>
        <td>
          <img class="w-[20px] h-[20px]" [src]="data.icon" alt="" />
        </td>
        <td>
          <div class="flex flex-col">
            <a class="truncate" [routerLink]="['/home/memory-lib/detail', data.memory_repo_id]">
              {{ data.name }}
            </a>
            <span class="text-xs text-gray-400 truncate mt-1">{{ data.memory_repo_id }}</span>
          </div>
        </td>
        <td nzEllipsis>
          <span nz-tooltip [nzTooltipTitle]="data.description">{{ data.description }}</span>
        </td>
        <td nzEllipsis>
          <span nz-tooltip [nzTooltipTitle]="getStrategyText(data)">{{ getStrategyText(data) }}</span>
        </td>
        <td>{{ data.create_time | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ data.update_time | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>
          <a
            (click)="!memoryLibService.subscribeBtnDisabled() && deleteMemory(data)"
            [class.text-gray-400]="memoryLibService.subscribeBtnDisabled()"
            [class.cursor-not-allowed]="memoryLibService.subscribeBtnDisabled()"
          >
            {{ 'memory.management.delete' | i18nextEager }}
          </a>
        </td>
      </tr>
    }
  </tbody>
</nz-table>

<ng-template #emptyTpl>
  <nz-empty
    nzNotFoundImage="simple"
    [nzNotFoundContent]="contentTpl"
    [nzNotFoundFooter]="footerTpl"
  >
    <ng-template #contentTpl>
      <div class="text-[14px] font-bold text-gray-800 mb-[8px]">
        {{ 'memory.noData.text.createTip' | i18nextEager }}
      </div>
      <div [innerHTML]="'memory.list.nodateDescribe' | i18nextEager" class="text-gray-500"></div>
    </ng-template>
    <ng-template #footerTpl>
      <button nz-button nzType="primary" (click)="router.navigate(['/home/memory/create'])">
        {{ 'memory.create.button' | i18nextEager }}
      </button>
    </ng-template>
  </nz-empty>
</ng-template>
