.main-edit-name {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 28px;
}

.name-div {
    line-height: 28px;
    font-size: 14px;
    color: rgba(25, 25, 25, 1);
    max-width: 200px;
    font-weight: bold;
    padding: 0 8px 0 8px;
    &:hover{
        border-radius: 6px;
        background: rgba(245, 245, 245, 1);
    }
}

.icon-div {
    line-height: 28px;
}

.input-div {
    color: rgba(25, 25, 25, 1);
    font-size: 12px;
    width: 200px;
    font-weight: 400;
}