<div>
  <div class="flex items-center gap-[10px]">
    <img alt="" [src]="changeUrl('assets/prompt/alert.svg')" />
    {{ 'update_version_modal_header' | i18nextEager }}
  </div>
</div>
<div>
  <div class="text-[#808080]">{{ 'update_version_modal_body' | i18nextEager }}</div>
</div>
<div class="btn-group mt-4 gap-2 flex justify-end">
  <button nz-button (click)="dismiss()">{{ 'cancel' | i18nextEager }}</button>
  <button nz-button nzType="primary" (click)="updateVersion()">
    {{ 'update_version' | i18nextEager }}
  </button>
</div>
