.m-no-data {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  .noData {
    background: url('../../../assets/images/noData.svg') no-repeat;
    display: inline-block;
    height: 90px;
    width: 90px;
    background-size: contain;
  }
}

.content {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .img {
    object-fit: contain;
    width: 108px;
  }
}
