.node-title {
  line-height: 18px;
}

.left-compare-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 12px 8px 12px;
  color: rgba(128, 128, 128, 1);
  border-radius: 8px;
  background: rgba(250, 250, 250, 1);
}

.new-compare-select {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border: 1px dashed rgba(194, 194, 194, 1);
  border-radius: 8px;
  cursor: pointer;
}
.upload-icon {
  background-image: url('../../../../../../assets/agent-center/flow/upload-cmp.svg');
  height: 20px;
  width: 20px;
  background-size: cover;
}

.tool-item {
  padding: 10px 16px 10px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 6px;

  &:hover{
    background: #F0F7FF;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .right {
    width: calc(100% - 46px);
  }

  .grey-font {
    color: #808080;
  }

  .delete-icon {
    color: #191919;
    cursor: pointer;
    font-size: 16px;
  }
}
