.deep-research-runtime-container{
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  deep-research-chat{
    transition: width 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  agent-deep-research-article{
    transition: width 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}
