::ng-deep {
  .tp-halfmodal-cotent meta-mcp-service-modal {
    display: block;
    height: 100%;
  }
  
  .tp-halfmodal-cotent meta-mcp-service-modal,
  .tp-halfmodal-body {
    overflow: visible !important;
  }
}

.kb-select-area {
  width: 100%;
  height: 100%;
  border: 1px dashed #c2c2c2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.upload-icon {
  background-image: url('../../../../../assets/agent-center/flow/upload-cmp.svg');
  height: 24px;
  width: 24px;
}

::ng-deep {
  .add-kb-modal {
    width: 700px !important;
  }
}

::ng-deep meta-child-flow-modal {
  display: block;
  height: 100%;
}

.cell-item {
  border-radius: 5px;
}

.error-tip {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.input-error {
  border-color: #ff4d4f !important;
}
