::ng-deep #app-safe-warn {
  .ti3-modal {
    ti-content-wrapper {
      .app-safe-warn-url-color {
        color: #1476FF !important;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      .app-safe-warn-overflow {
      }
    }
    .modal-class-safe-wrapper {
      width: 500px !important;
    }
  }
}
