<div
  *ngIf="item.isTop"
  class="flex w-full cursor-default items-center gap-[8px] px-[8px] leading-6 hover:bg-white"
  (click)="cantClick($event)"
>
  <img alt=""
    *ngIf="type2Img(item.type)"
    class="h-[16px] w-[16px]"
    [src]="type2Img(item.type)"
  />
  <div class="max-w-[260px] text-[12px] text-[#191919]" tiOverflow>
    {{ item.name }}
  </div>
</div>

<div
  class="flex h-full w-full items-center gap-[8px] px-[8px] leading-6"
  *ngIf="!item.isTop"
>
  <div tiOverflow class="text-[12px] max-w-[260px]">
    {{ getTreeNodeParamName(item.name) }}
  </div>
  <div
    tiOverflow
    class="min-w-[40px] rounded-[2px] bg-[#f5f5f5] px-[4px] text-[12px] !font-normal leading-5 text-[#191919]"
  >
    <!-- input_type 兼容用户入参 -->
    {{ item._label ? '' : ((item.type || item.input_type) | paramLabel) }}
  </div>
</div>
