.editor-wrapper {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  width: 100%;
  height: calc(100vh - 330px);
}

.item {
  padding: 12px 8px;
  border-bottom: 1px solid #dde2eb;
}

.key {
  width: 100px;
}
