#app-exceed-header {
  .header {
    display: flex;
    align-items: center;

    .info {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}

::ng-deep .app-exceed-class{
  width: 400px !important;
}

::ng-deep .app-exceed-class .ti3-modal-header {
  padding: 24px 24px 0px !important;
}

::ng-deep .app-exceed-class .ti3-modal-body {
  padding: 16px 24px !important;
}

::ng-deep .app-exceed-class .ti3-modal-footer {
  padding: 0px 24px 24px !important;
}
