::ng-deep {
  .tp-halfmodal-cotent meta-aggregation-modal {
    display: block;
    height: 100%;
  }
}

.agg-drag {
  background: url('../../../../../assets/agent-center/flow/drag.svg');
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.agg-drag-disabled {
  background: url('../../../../../assets/agent-center/flow/drag-disabled.svg');
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.error-tip {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.input-error {
  border-color: #ff4d4f !important;
}
