.check-error-workflow-drawer {
  padding: 0;
  box-shadow: none;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 12px 0;
  font-weight: bold;
}

.body {
  flex: 1;
  overflow: auto;
  padding: 0 12px 12px;
}

.main-time-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}

.card {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 1);
  background: rgba(250, 250, 250, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
  margin-right: 12px;
  margin-left: 12px;
}

.card:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}

.card-click {
  border: 1px solid rgba(20, 118, 255, 1);
  background: rgba(255, 255, 255, 1);
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 8px;
  width: 100%;
}

.card-row-title-icon-normal {
  height: 16px;
  width: 16px;
  font-size: 16px;
  margin-top: 3px;
}

.card-row-title-text {
  color: rgba(25, 25, 25, 1);
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
}

.card-row-text {
  color: rgba(25, 25, 25, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.card-row-title-icon-warring {
  height: 16px;
  width: 16px;
  color: rgba(255, 136, 0, 1);
  font-size: 16px;
  margin-top: 3px;
}

.close-icon {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.heard-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  margin-left: 12px;
  margin-right: 12px;
}
