::ng-deep {
  .tp-halfmodal-cotent meta-llm-modal {
    display: block;
    height: 100%;
  }

  #llm-formats-menu {
    .ti3-menu-toggle-menu {
      color: #191919;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .intelligent-add-border {
    border-radius: 6px;

    &:hover {
      border-color: #856afd;
    }
  }
  .disabled {
    cursor: not-allowed;
    border-color: #dbdbdb;
  }
  
  .enabled {
    cursor: pointer;
    padding: 4px;
    width: 26px;
    height: 26px;
  }
}
