<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <contextName>studio-agent-manager</contextName>

    <Properties>
        <Property name="LOG_PATTERN"
                  value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%X{request-id}] [%thread] [%logger{36}:%L] - [%msg]%n" />
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>