::ng-deep {
  .createPluginAuth {
    width: 700px !important;
    .title {
      font-size: 24px;
      font-weight: 600;
    }
  }
}

.share-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../../../assets/model/share.svg) no-repeat 50% 50%;
  background-size: contain;
  vertical-align: middle;
  margin-left: 4px;
}

.a-link{
  font-size: 14px;
  a{
    color: #1476ff;
  }

  margin-top: 8px;
}
.view-detail-button{
  cursor: pointer;
  display: flex;
  align-items: center;
}
