::ng-deep.wrapper{
  height:0
}
::ng-deep.variable-box {
  vertical-align: top;
  margin: 0 4px;
  height: 18px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0px 4px 0px 4px;
  border-radius: 4px;
  background: rgba(228, 247, 233, 1);
  color: rgba(2, 153, 49, 1);
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: justify;

  .variable-input {
    outline: none;
    height: 100%;
    min-width: 5px;
  }
}
