::ng-deep {
  .add-api-modal {
    width: 700px !important;
  }

  .plugin-info-modal {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(250, 250, 250, 1);
    padding: 8px 12px;
    .tool-common-icon {
      width: 32px;
      height: 32px;
    }
    .plugin-name, .plugin-desc {
      color: rgba(25, 25, 25, 1);
      font-family: PingFang SC;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0;
      text-align: left;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  #plugin-config-modal {
    padding: 16px 0 16px 20px !important;
    box-shadow: -4px 0px 6px 0 rgb(0 0 0 / 5%) !important;
    border-left: 1px solid #e1e5eb;
    overflow: hidden;

    .drawer-header {
      padding: 16px 0 !important;
    }

    .drawer-body {
      overflow-y: auto;
      flex: 1;
    }

    .drawer-footer {
      padding: 16px 20px;
      border-top: 1px solid #e1e5eb;
    }

    .plugin-config-drawer {
      .ant-drawer-body {
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    meta-plugin-config-modal {
      display: block;
      height: 100%;
    }
  }

  .input-tree {
    .ant-tree-treenode {
      padding: 0 !important;
    }
    .ant-tree-node-content-wrapper {
      flex: 1 !important;
    }
    .ant-tree-title {
      width: 100%;
    }
    .ant-tree-node-selected {
      font-weight: inherit !important;
      color: rgb(20, 118, 255);
    }
  }

  .combo-select-right {
    padding-left: 10px !important;
  }

  .obj-diabled {
    pointer-events: none;
    background: rgb(239, 239, 240);
    cursor: not-allowed !important;
  }
}

:host ::ng-deep {
  .ant-tree-node-content-wrapper {
    width: 100% !important;
  }
}

.flex-sub-no-auto>div {
  flex-grow: 0;
  flex-shrink: 0;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error-tip {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
  line-height: 1;
}

.input-error {
  border-color: #ff4d4f !important;
}

::ng-deep {
  .input-error.ant-select .ant-select-selector {
    border-color: #ff4d4f !important;
  }
}
