.template-title {
  color: rgb(25, 25, 25);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.template-type {
  color: rgb(25, 25, 25);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.template-type-btn {
  padding: 5px 24px;
  background: rgb(20, 118, 255);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}


.search-button {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.selected-file {
  padding: 2px 4px 2px 4px;
  margin-top: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: #eee;
    border-radius: 4px;
  }
}
