::ng-deep {
  meta-publish-flow-modal {
    display: block;
    height: 100%;
    tp-halfmodal-body {
      margin-top: 8px;
    }
  }

  .selected {
    color: #FFFFFF;
    background: #1476FF;
  }
  .unselected {
    color: #595959;
    background: #F5F5F5;
  }
  .disabled {
    color: #B8BABF;
    background: #F7F7F9;
    cursor: not-allowed;
  }
  .arrow-icon {
    font-size: 16px !important;
    color: #191919;
  }
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
