:host {
  position: relative;
}

.textStyle {
  font-size: 12px;
  color: #191919;
  line-height: 22px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.update-flow-icon {
  cursor: pointer;
  width: 33px;
  height: 16px;
  background-image: url('../../../../../assets/agent-center/icons/update-node-icon.svg');
}
