<div class="flex align-center" style="gap: 6px;">
  <img [src]="changeUrl(this.icons[0].path)" alt="" [style]="getStyle(this.icons[0])" data-index="1"
       (mouseenter)="handleClickMouseEnter(0)"
       (mouseleave)="handleClickMouseLeave()"
       (click)="handleClickIcon(0)">
  <img [src]="changeUrl(this.icons[1].path)" alt="" [style]="getStyle(this.icons[1])" data-index="2"
       (mouseenter)="handleClickMouseEnter(1)"
       (mouseleave)="handleClickMouseLeave()"
       (click)="handleClickIcon(1)">
  <img [src]="changeUrl(this.icons[2].path)" alt="" [style]="getStyle(this.icons[2])" data-index="3"
       (mouseenter)="handleClickMouseEnter(2)"
       (mouseleave)="handleClickMouseLeave()"
       (click)="handleClickIcon(2)">
  <img [src]="changeUrl(this.icons[3].path)" alt="" [style]="getStyle(this.icons[3])" data-index="4"
       (mouseenter)="handleClickMouseEnter(3)"
       (mouseleave)="handleClickMouseLeave()"
       (click)="handleClickIcon(3)">
  <img [src]="changeUrl(this.icons[4].path)" alt="" [style]="getStyle(this.icons[4])" data-index="5"
       (mouseenter)="handleClickMouseEnter(4)"
       (mouseleave)="handleClickMouseLeave()"
       (click)="handleClickIcon(4)">
</div>
