::ng-deep {
  .tp-halfmodal-cotent meta-single-agent-modal {
    display: block;
    height: 100%;
  }
}
.sub-con-agent {
  .title {
    font-size: 12px;
    font-weight: bold;
    color: #252B3A;
    margin-bottom: 8px;
  }
}

.secondary-content {
  font-size: 12px;
  color: #575D6C;
}

.agent-instructions {
  white-space: pre-wrap;
  word-break: break-word;
}

.scene-left {
  flex: 1;
  overflow: hidden;
}

.scene-title {
  max-width: 100%;
  overflow: hidden;
}

.scene-name {
  max-width: 100%;
}

.scene-sub-title {
  color: #8A8E99;
}

.split-line-short {
  border-left: 1px solid #dbdbdb;
  height: 9px;
  display: inline-block;
  margin: 0 4px;
}
