.kb-type-card {
  width: 50%;
  background-color: #fafafa;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  gap: 12px;
  border: 1px solid transparent;
  cursor: pointer;

  .name {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #191919;
  }

  .desc {
    font-size: 12px;
    color: #808080;
  }
}

.kb-card-selected {
  box-shadow: 0 4px 6px #00000014;
  transform: translate3d(0, 0, 0);
  border: 1px solid #1476ff;
}

.dotted-frame {
  border: 1px dashed #c2c2c2;
  border-radius: 8px;
}
