.migrate-res {
  display: flex;
  gap: 8px;

  .migrate-res-item {
    display: flex;
    align-items: center;
    gap: 4px;

    [nz-icon] {
      font-size: 16px;
    }
  }
}

.migrate-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dsl-type-title {
  padding-left: 8px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 4px;
}

.dsl-type-dify {
  background-image: url('../../../../../assets/agent-center/images/compare-dify-bg.svg');
}

.dsl-type-jiuwen {
  background-image: url('../../../../../assets/agent-center/images/compare-jiuwen-bg.svg');
}

.node-group-label {
  height: 24px;

  [nz-icon] {
    font-size: 14px;
  }

  .group-title {
    font-size: 14px;
  }

  .group-num {
    height: 18px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 4px 0px 4px;
    border-radius: 2px;
    background: rgba(255, 235, 209, 1);
  }
}

.drawer-header {
  font-weight: 600;
  font-size: 16px;
  padding: 16px;
  border-bottom: 1px solid #F0F0F0;
}
