.ch-header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 18px 30px;
  background-color: #fff;

  .ch-left {
    font-size: 18px;
    color: #191919;
    font-weight: bold;
    line-height: 28;
    display: flex;
    align-items: center;
  }
}

.title {
  font-size: 18px;
  color: #191919;
  text-align: left;
  line-height: 28px;
  font-weight: 600;
  max-width: 146px;
}

.back-icon-container {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-radius: 4px;
    background-color: #f0f0f0;
  }

  .back-icon {
    color: #191919;
    cursor: pointer;
  }
}

.divider {
  background: #808080;
  height: 16px;
  width: 1px;
}