<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.agent.manager.mapper.ApiKeysMapper">
    <resultMap id="BaseResultMap" type="com.openjiuwen.studio.agent.manager.entity.ApiKeysEntity">
        <id property="apiKeyId" column="API_KEY_ID" jdbcType="VARCHAR"/>
        <result property="apiKeyName" column="API_KEY_NAME" jdbcType="VARCHAR"/>
        <result property="apiKeyValue" column="API_KEY_VALUE" jdbcType="VARCHAR"/>
        <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
        <result property="projectId" column="PROJECT_ID" jdbcType="VARCHAR"/>
        <result property="workspaceId" column="WORKSPACE_ID" jdbcType="VARCHAR"/>
        <result property="domainId" column="DOMAIN_ID" jdbcType="VARCHAR"/>
        <result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
        <result property="createdByUserName" column="CREATED_BY_USER_NAME" jdbcType="VARCHAR"/>
        <result property="lastUpdatedByUserName" column="LAST_UPDATED_BY_USER_NAME" jdbcType="VARCHAR"/>
        <result property="createdDate" column="CREATED_DATE" jdbcType="BIGINT"/>
    </resultMap>

    <!-- 创建 API Key -->
    <insert id="createApiKey" parameterType="com.openjiuwen.studio.agent.manager.entity.ApiKeysEntity">
        INSERT INTO t_api_keys (
            api_key_id,
            api_key_name,
            api_key_value,
            description,
            project_id,
            workspace_id,
            domain_id,
            user_id,
            created_by_user_name,
            last_updated_by_user_name,
            created_date
        ) VALUES (
                     #{apiKeys.apiKeyId},
                     #{apiKeys.apiKeyName},
                     #{apiKeys.apiKeyValue},
                     #{apiKeys.description},
                     #{apiKeys.projectId},
                     #{apiKeys.workspaceId},
                     #{apiKeys.domainId},
                     #{apiKeys.userId},
                     #{apiKeys.createdByUserName},
                     #{apiKeys.lastUpdatedByUserName},
                     #{apiKeys.createdDate}
                 )
    </insert>

    <!-- 查询 API Key 列表（分页） -->
    <select id="selectList" resultType="com.openjiuwen.studio.agent.manager.entity.ApiKeysEntity">
        SELECT
        *
        FROM
        t_api_keys
        <where>
            <if test="projectId != null and workspaceId != null and userId != null">
                project_id = #{projectId}
                AND workspace_id = #{workspaceId}
                AND user_id = #{userId}
            </if>
        </where>
        ORDER BY
        created_date DESC
        <!-- 分页处理 -->
        <if test="pageSize > 0 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

    <!-- 根据 ID 删除 API Key -->
    <delete id="deleteById">
        DELETE FROM
           t_api_keys
        WHERE
            api_key_id = #{id}
    </delete>

    <!-- 根据 ID 查询 API Key -->
    <select id="selectById" resultType="com.openjiuwen.studio.agent.manager.entity.ApiKeysEntity">
        SELECT
            *
        FROM
           t_api_keys
        WHERE
            api_key_id = #{id}
    </select>

    <select id="count" resultType="int">
        SELECT
        COUNT(*)
        FROM
        t_api_keys
        <where>
            project_id = #{projectId}
            <if test="apikeyName != null and workspaceId != null">
                 AND api_key_name = #{apikeyName}
            </if>
            <if test="workspaceId != null">
                AND workspace_id = #{workspaceId}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
        </where>
    </select>

</mapper>
