<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Huawei Technologies Co., Ltd. 2025-2025. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.agent.manager.mapper.McpServerConfigMapper">
    <resultMap id="BaseResultMap" type="com.openjiuwen.studio.agent.manager.dto.McpServerConfig">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="server_id" jdbcType="VARCHAR" property="serverId"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="auth_keys" jdbcType="VARCHAR" property="authKeys" typeHandler="com.openjiuwen.studio.agent.manager.mapper.handler.AuthKeyInfoListHandler"/>
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId"/>
        <result column="created_on" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_on" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        server_id,
        project_id,
        auth_keys,
        creator_id,
        created_on,
        updated_on
    </sql>
    <insert id="insert" parameterType="com.openjiuwen.studio.agent.manager.dto.McpServerConfig">
        insert into t_mcp_config (id, server_id, project_id, auth_keys, creator_id)
        values (#{id,jdbcType=VARCHAR}, #{serverId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{authKeys,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR})
    </insert>
    <select id="selectByUniqueIds" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_mcp_config
        where server_id = #{serverId,jdbcType=VARCHAR}
          and project_id = #{projectId,jdbcType=VARCHAR}
          and creator_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByUniqueIds" parameterType="map">
        delete
        from t_mcp_config
        where server_id = #{serverId,jdbcType=VARCHAR}
          and project_id = #{projectId,jdbcType=VARCHAR}
          and creator_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <update id="updateByUniqueIds" parameterType="map">
        update t_mcp_config
        <set>
            <if test="authKeys != null">
                auth_keys = #{authKeys,jdbcType=VARCHAR},
            </if>
        </set>
        where server_id = #{serverId,jdbcType=VARCHAR}
          and project_id = #{projectId,jdbcType=VARCHAR}
          and creator_id = #{userId,jdbcType=VARCHAR}
    </update>
    <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_mcp_config
    </select>
</mapper>
