<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Huawei Technologies Co., Ltd. 2025-2025. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.agent.manager.mapper.ToolCredentialMapper">
    <resultMap id="BaseResultMap" type="com.openjiuwen.studio.agent.manager.dto.ToolCredential">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="resource_id" jdbcType="VARCHAR" property="toolId"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="auth_keys" jdbcType="VARCHAR" property="authKeys" typeHandler="com.openjiuwen.studio.agent.manager.mapper.handler.AuthKeyInfoListHandler"/>
        <result column="user_id" jdbcType="VARCHAR" property="creatorId"/>
        <result column="created_on" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_on" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="workspace_id" jdbcType="VARCHAR" property="workspaceId"/>
        <result column="domain_id" jdbcType="VARCHAR" property="domainId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        resource_id,
        project_id,
        auth_keys,
        user_id,
        created_on,
        updated_on
    </sql>
    <insert id="insert" parameterType="com.openjiuwen.studio.agent.manager.dto.ToolCredential">
        insert into t_credential (id, resource_id, resource_type, project_id, auth_keys, user_id, workspace_id, domain_id)
        values (#{id,jdbcType=VARCHAR}, #{toolId,jdbcType=VARCHAR}, 'tool', #{projectId,jdbcType=VARCHAR}, #{authKeys,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, #{workspaceId}, #{domainId})
    </insert>
    <select id="selectByToolId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_credential
        where resource_id = #{toolId,jdbcType=VARCHAR}
        and project_id = #{projectId,jdbcType=VARCHAR}
        and resource_type = 'tool'
        and workspace_id = #{workspaceId}
    </select>
    <delete id="deleteByToolId" parameterType="map">
        delete
        from t_credential
        where resource_id = #{toolId,jdbcType=VARCHAR}
          and project_id = #{projectId,jdbcType=VARCHAR}
          and user_id = #{userId,jdbcType=VARCHAR}
          and resource_type = 'tool'
          and workspace_id = #{workspaceId}
    </delete>
    <delete id="deleteByDomainId">
        delete
        from t_credential
        where domain_id = #{domainId}
    </delete>
    <update id="updateByToolId" parameterType="map">
        update t_credential
        <set>
            <if test="authKeys != null">
                auth_keys = #{authKeys,jdbcType=VARCHAR},
            </if>
        </set>
        where resource_id = #{toolId,jdbcType=VARCHAR}
        and project_id = #{projectId,jdbcType=VARCHAR}
        and user_id = #{userId,jdbcType=VARCHAR}
        and resource_type = 'tool'
        and workspace_id = #{workspaceId}
    </update>

    <select id="selectAuthKeysByToolId" parameterType="string" resultType="string">
        select auth_keys
        from t_credential
        where resource_id = #{toolId,jdbcType=VARCHAR}
        and resource_type = 'tool'
    </select>
    <select id="selectUserIdByDomainId" parameterType="map" resultMap="BaseResultMap">
        select *
        from t_credential
        where domain_id = #{domainId}
    </select>
    <select id="selectByToolIdAndDomainId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_credential
        where resource_id = #{toolId,jdbcType=VARCHAR}
        and resource_type = 'tool'
        and domain_id = #{domainId,jdbcType=VARCHAR}
        and workspace_id = #{workspaceId,jdbcType=VARCHAR}
    </select>


</mapper>
