<header class="k-detail-header-container">
  <button
    nz-button
    nzType="text"
    class="!h-[20px] !w-[20px] !p-0 flex items-center justify-center"
    (click)="back()"
  >
    <span nz-icon nzType="arrow-left" nzTheme="outline" class="!text-[20px]"></span>
  </button>

  <div nz-tooltip [nzTooltipTitle]="file.file_name" class="title overflow-hidden whitespace-nowrap text-ellipsis">
    {{ file.file_name }}
  </div>
</header>

<main class="main-container">
  <div class="flex h-full gap-[24px]">
    <nz-spin class="section basis-[40%] block" [nzSpinning]="isLoadingInfo">
      <nz-descriptions [nzTitle]="'base_info' | i18nextEager" [nzColumn]="1" class="mb-[24px] block">
        <nz-descriptions-item [nzTitle]="'file_name' | i18nextEager">
          {{ file.file_name }}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'file_type' | i18nextEager">{{ fileType }}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'file_size' | i18nextEager">
          {{ file.file_size | bytes }}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'created_on' | i18nextEager">
          {{ file.create_time | formateTime }}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'updated_on' | i18nextEager">
          {{ file.update_time | formateTime }}
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions [nzTitle]="'split_conf' | i18nextEager" [nzColumn]="1" class="mb-[24px] block">
        <nz-descriptions-item *ngIf="splitMode" [nzTitle]="'split_mode' | i18nextEager">
          {{ splitMode | i18nextEager }}
        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="levelMode" [nzTitle]="'level_mode' | i18nextEager">
          {{ levelMode | i18nextEager }}
        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="combineTitle" [nzTitle]="'combine_title' | i18nextEager">
          {{ combineTitle | i18nextEager }}
        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="mergeTitle" [nzTitle]="'merge_title' | i18nextEager">
          {{ mergeTitle | i18nextEager }}
        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="titleLevel" [nzTitle]="'title_level' | i18nextEager">
          {{ titleLevel }}
        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="separators" [nzTitle]="'separator_ids' | i18nextEager">
          {{ separators }}
        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="chunkSize" [nzTitle]="'chunk_size' | i18nextEager">
          {{ chunkSize }}
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-spin>

    <div class="section basis-[60%]">
      <div class="mb-[22px] flex items-center justify-between">
        <span class="text-[14px] font-bold">{{ 'faq' | i18nextEager }}</span>
        <button [disabled]="kbAbilitiesService.isResourceDisabled" nz-button nzType="default" (click)="addChunk()">
          {{ 'add_chunk' | i18nextEager }}
        </button>
      </div>
      <ng-container *ngIf="0 !== total">
        <div class="mb-[16px] h-[calc(100%-90px)] overflow-y-auto">
          <nz-spin [nzSpinning]="isLoadingChunks" class="block h-full w-full">
            <div *ngIf="!isLoadingChunks">
              <div
                class="rounded-[8px] bg-[#fafafa] p-[16px]"
                *ngFor="let card of chunkList; let last = last"
                [ngClass]="{ 'mb-[16px]': !last }"
              >
                <div class="flex items-center justify-between">
                  <div class="w-[calc(100%-300px)] font-bold overflow-hidden whitespace-nowrap text-ellipsis" nz-tooltip [nzTooltipTitle]="card.title">
                    {{ card.title }}
                  </div>
                  <div class="flex items-center gap-x-[16px]">
                    <button
                      *ngIf="!kbAbilitiesService.isResourceDisabled"
                      nz-button nzType="text" nz-tooltip [nzTooltipTitle]="'edit' | i18nextEager"
                      (click)="editChunk(card)"
                      class="!p-0 !h-auto text-[#1890ff]"
                    >
                      <span nz-icon nzType="edit" nzTheme="outline" class="text-[16px]"></span>
                    </button>
                    <button
                      *ngIf="!kbAbilitiesService.isResourceDisabled"
                      nz-button nzType="text" nzDanger nz-tooltip [nzTooltipTitle]="'delete' | i18nextEager"
                      (click)="deleteChunk(card)"
                      class="!p-0 !h-auto text-[#ff4d4f]"
                    >
                      <span nz-icon nzType="delete" nzTheme="outline" class="text-[16px]"></span>
                    </button>
                  </div>
                </div>
                <div class="my-[16px] break-words leading-[22px]">
                  <div *ngIf="card.kb_type === KnowledgeType.INTERNAL" style="display: flex">
                    <img alt="" *ngFor="let pic of card.image;" [src]="pic" (click)="openModal(pic)"
                         style="min-width: 50px;max-width: 100px; min-height: 50px; max-height: 100px;margin-right:4px;cursor: pointer"/>
                  </div>
                  <div *ngIf="card.kb_type === KnowledgeType.EXTERNAL">
                    <button *ngFor="let url of card.image;" nz-button nzType="link" class="!px-0" (click)="viewImageWarn(url)">{{ 'view_image'|i18nextEager }}</button>
                  </div>
                  <div [innerHTML]="card.content | markedPipe | async | safeHtml" class="faq-markdown-container"></div>
                </div>
                <div
                  class="flex w-full items-center justify-end leading-[22px]"
                >
                  <div class="text-[14px] text-[#808080]">
                    {{ 'character' | i18nextEager }}: {{ card.content?.length || 0 }}
                  </div>
                </div>
              </div>
            </div>
          </nz-spin>
        </div>
        <nz-pagination
          [(nzPageIndex)]="currentPage"
          [nzTotal]="total"
          [(nzPageSize)]="chunkPageSize.size"
          [nzPageSizeOptions]="chunkPageSize.options"
          nzShowSizeChanger
          nzSize="small"
          (nzPageIndexChange)="getChunkList()"
          (nzPageSizeChange)="currentPage = 1; getChunkList()"
        ></nz-pagination>
      </ng-container>
      <div *ngIf="0 === total" class="flex h-[calc(100%-50px)] items-center justify-center">
        <nz-empty [nzNotFoundContent]="noDataDesc"></nz-empty>
      </div>
    </div>
  </div>
</main>

<ng-template #chunkModal>
  <form nz-form [formGroup]="chunkForm" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzRequired>{{ 'chunk_title' | i18nextEager }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'input_placeholder' | i18nextEager">
        <textarea
          nz-input
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          maxlength="1000"
          formControlName="title"
          [placeholder]="'input_placeholder' | i18nextEager"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>{{ 'chunk_content' | i18nextEager }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'input_placeholder' | i18nextEager">
        <textarea
          nz-input
          [nzAutosize]="{ minRows: 6, maxRows: 12 }"
          maxlength="6000"
          formControlName="content"
          [placeholder]="'input_placeholder' | i18nextEager"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<ng-template #chunkModalFooter>
  <button nz-button nzType="default" (click)="chunkModalRef?.destroy()">
    {{ 'cancel' | i18nextEager }}
  </button>
  <button
    nz-button
    nzType="primary"
    nzDanger
    [nzLoading]="confirmLoading"
    (click)="handleConfirm()"
  >
    {{ 'ok' | i18nextEager }}
  </button>
</ng-template>

<div class="modal" *ngIf="isModalOpen" (click)="closeModal($event)">
  <div class="modal-content">
    <img alt="" [src]="base64"  class="modal-img">
  </div>
</div>
