.overview {
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  container-type: inline-size;
  container-name: newoverview;

  .tip_css {
    position: absolute;
    width: 100%;
    z-index: 100;
    left: 0px;

    ::ng-deep {
      .ti3-alert-container {
        border-radius: 0px !important;
      }
    }
  }

  .content {
    margin: 20% 40%;
    width: 400px;
    height: 200px;
    border: 1px solid #aaa;
    border-radius: 16px;
    line-height: 200px;
    text-align: center;
    font-size: 24px;

    &:hover {
      border: 1px solid #0c93fe;
      color: #0c93fe;
    }
  }

  .overflow-title-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .disabled-container {
    opacity: 0.6 !important;
    pointer-events: none !important;
    user-select: none !important;
    filter: grayscale(0.7) !important;
  }

  .bg {
    position: absolute;
    filter: blur(10px);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url('../../assets/images/common/background.png'), no-repeat;
    background-size: cover;
  }

  .overview-header {
    position: relative;
    z-index: 99;
    padding-top: 124px;
    padding-bottom: 24px;
    width: 100%;
    color: rgba(0, 0, 0, 1);

    .typing {
      color: rgba(0, 0, 0, 1);
      font-size: 36px;
      font-weight: 600;
      line-height: 62px;
      text-align: left;
    }

    @keyframes typing {
      from {
        opacity: 0;
      }

      to {
        opacity: 1
      }
    }

    input {
      width: 70%;
      display: flex;
      height: 115px;
      margin-left: 15%;
      margin-top: 16px;
      border-radius: 24px;
      padding-left: 24px;
      font-size: 16px;
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
      padding-right: 150px;
      white-space: normal;
      /* 允许换行 */
      text-align: left;
      /* 从左上开始 */
    }

    .text_area_con {
      position: relative;

      .select-template-con {
        position: absolute;
        bottom: 12px;
        left: calc(15% + 12px);

        #select-template {
          width: 148px;
          height: 32px;
          line-height: 28px;
          border-radius: 50px;

          .select-icon {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .input-wrapper {
      margin-top: 16px;
      width: 70%;
      margin-left: 15%;
      height: 123px;
      //display: flex;
      //flex-direction: row;
      //justify-content: center;
      align-items: flex-end;
      gap: 12px;
      padding: 12px 12px 12px 20px;
      border: 1px solid rgba(194, 194, 194, 1);
      border-radius: 16px;
      box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.02);
      background: rgba(255, 255, 255, 1);

      textarea {
        border: none;
        outline: none;
        resize: none;
        /* 禁止改变大小 */
        color: rgba(25, 25, 25, 1);

        font-family: PingFang SC;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
        text-align: left;
        background: rgba(255, 255, 255, 0.8);
      }

      button {
        outline: none;
        text-align: center;
        border-radius: 50%;
        top: 4px;
        cursor: pointer;
        transition: all 1s ease;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        &:active {
          letter-spacing: 2px;
        }
      }

    }

    textarea::placeholder {
      color: rgba(194, 194, 194, 1) !important;
      font-weight: 400;
    }

    .text {
      font-size: 14px;
      font-weight: 400;
      color: rgba(89, 89, 89, 1);
      display: inline-block;
      padding: 0 16px;
      box-sizing: border-box;
      border: 1px solid rgba(194, 194, 194, 1);
      height: 36px;
      line-height: 36px;
      border-radius: 24px;
      text-align: center;
      cursor: pointer;

      &:hover {
        box-sizing: border-box;
        border: 1px solid rgba(25, 25, 25, 1);
      }
    }

    .overflow-title {
      margin-right: 12px;
      width: 15%;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    .disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .onclick {
      animation: rotating 0.75s 0.25s linear infinite;
      background: #fff;
      color: #0c93fe;

      &:hover {
        color: #0c93fe;
        background: white;
      }
    }

    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }

  @media screen and (min-width: 2500px) {
    .overview-body {
      padding: 0 20% !important;
    }

    .input-wrapper {
      margin-left: 25% !important;
      width: 50% !important;
    }
  }

  @media screen and (min-width: 1920px) and (max-width: 2500px) {
    .overview-body {
      padding: 0 15% !important;
    }

    .input-wrapper {
      margin-left: 20% !important;
      width: 60% !important;
    }
  }

  @media screen and (min-width: 1600px) and (max-width: 1920px) {
    .overview-body {
      padding: 0 10% !important;
    }

    .input-wrapper {
      margin-left: 15% !important;
      width: 70% !important;
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1600px) {
    .overview-body {
      padding: 0 5% !important;
    }

    .input-wrapper {
      margin-left: 10% !important;
      width: 80% !important;
    }
  }

  .overview-body {

    padding: 0 10%;

    .partOne {
      width: 100%;
      height: 50%;

      .tutorial-title {
        font-size: 18px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        margin-bottom: 12px;
      }

      .tutorial-card {
        display: flex;
        gap: 16px;

        //grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
        //grid-column-gap: 16px;
        //grid-row-gap: 16px;
        .block {
          background: #fff;
          border-radius: 16px 16px 8px 8px;
          cursor: pointer;
          padding: 48px 0 0 24px;
          position: relative;
          height: 160px;
          width: calc((100% - 16px * 2) / 3);

          .title {
            font-size: 28px;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0);
          }

          .desc {
            font-size: 12px;
            color: #595959;
            opacity: 0.7;
            margin-top: 8px;
          }

          .bottom {
            font-size: 12px;
            color: rgba(0, 0, 0, .4);
            position: absolute;
            right: 16px;
            bottom: 16px;
          }
        }

        .agent {
          background: url('../../assets/images/common/Agent.png') no-repeat;
          background-size: cover;

          &:hover {
            box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
          }
        }

        .workflow {
          background: url('../../assets/images/common/workflow.png') no-repeat;
          background-size: cover;

          &:hover {
            box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
          }
        }

        .knowledge {
          background: url('../../assets/images/common/knowledge.png') no-repeat;
          background-size: cover;

          &:hover {
            box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
          }
        }
      }
    }

    .disabled-container {
      opacity: 0.6 !important;
      pointer-events: none !important;
      user-select: none !important;
      filter: grayscale(0.7) !important;
    }

    .partTwo {
      width: 100%;
      margin-top: 24px;

      .tutorial-title {
        font-size: 18px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        margin-bottom: 12px;
      }

      .workspace {
        position: relative;

        .navigator {
          font-size: 14px;
          font-weight: 400;
          display: inline-block;
          margin-right: 16px;
          padding-right: 16px;
          border-right: 1px solid rgba(219, 219, 219, 1);
          cursor: pointer;
          color: rgba(89, 89, 89, 1);

          &:hover {
            font-weight: 600;
            color: #000;
          }
        }

        .viewAll {
          font-weight: 500;
          font-size: 14px;
          position: absolute;
          right: 18px;
          cursor: pointer;
          display: flex;
          bottom: 3px;
          gap: 4px;
          color: #191919;
        }
      }

      .apps {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
        gap: 16px;
        min-height: 200px;
        overflow-y: hidden;

        .content-apps {
          background: #fff;
          border-radius: 16px;
          cursor: pointer;
          height: 95%;
          padding: 24px 16px;
        }
      }

      .knowledge-base {
        min-height: 200px;
        width: 100%;

        .disabled-container {
          ::ng-deep .kb-card {
            opacity: 0.6 !important;
            pointer-events: none !important;
            user-select: none !important;
            filter: grayscale(0.7) !important;
          }
        }
      }
    }
  }
}

.loading-icon {
  width: 100%;
  display: flex;
  margin-top: 8%;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.url-break {
  word-wrap: break-word;
}

.mcp-card-list {
  margin-top: 12px;
  display: grid;
  gap: 16px;
  height: 760px;
}

@media screen and (min-width: 1920px) {
  .new-overview {
    margin: 64px 96px 64px 96px;
    display: flex;
    flex-direction: column;
    max-width: 1436px;
    flex: 1;
    height: max-content;
  }

  .card-bgimg-two {
    background-position: calc(100% - 24px) calc(100%);
  }

  .card-text-two {
    width: 100%;
  }

  .card-bgimg-third {
    background-position: calc(100%) calc(100%);
  }

  .card-text-third {
    width: 100%;
  }

  .new-overview-learn-card {
    position: relative;
    border-radius: 24px;
    padding: 32px 32px 32px 32px;
    background-repeat: no-repeat;
    background-size: 276px 112px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    flex: 1;
  }
}

@media screen and (min-width: 1600px) and (max-width:1919px) {
  .new-overview {
    margin: 64px 96px 64px 96px;
    display: flex;
    flex-direction: column;
    max-width: 1436px;
    flex: 1;
    height: max-content;
  }

  .card-bgimg-two {
    background-position: calc(100% - 24px) calc(100%);
  }

  .card-text-two {
    width: 100%;
  }

  .card-bgimg-third {
    background-position: calc(100%) calc(100%);
  }

  .card-text-third {
    width: 100%;
  }

  .new-overview-learn-card {
    position: relative;
    border-radius: 24px;
    padding: 32px 32px 32px 32px;
    background-repeat: no-repeat;
    background-size: 276px 112px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    flex: 1;
  }
}

@media screen and (max-width: 1599px) {
  .new-overview {
    margin: 64px 48px 64px 48px;
    display: flex;
    flex-direction: column;
    max-width: 1436px;
    flex: 1;
    height: max-content;
  }

  .card-bgimg-two {
    background-position: calc(100% - 24px) calc(100%);
  }

  .card-text-two {
    width: 100%;
  }

  .card-bgimg-third {
    background-position: calc(100%) calc(100%);
  }

  .card-text-third {
    width: 100%;
  }

  .new-overview-learn-card {
    position: relative;
    border-radius: 24px;
    padding: 32px 32px 32px 32px;
    background-repeat: no-repeat;
    background-size: 276px 112px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    flex: 1;
  }
}

@container newoverview (min-width: 1196px) {
  .rowcard-third {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

  .rowcard-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

@container newoverview (max-width: 1195px) and (min-width: 824px) {
  .rowcard-third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .rowcard-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

@container newoverview (max-width: 823px) {
  .rowcard-third {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .rowcard-two {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}


.new-overview-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0px;
}

.new-overview-title-left {
  color: rgba(25, 25, 25, 1);
  font-weight: bold;
}

.new-overview-title-right {
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(90deg, #3481FE, #646DFE 70%, #A356FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new-overview-title-tip {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #808080;
}

.new-overview-input {
  margin-top: 32px;
}

.new-overview-learn-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  align-items: center;
  margin-top: 48px;
}

.new-overview-learn-title-text-active {
  color: rgba(25, 25, 25, 1);
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
}

.new-overview-learn-title-text {
  color: rgba(89, 89, 89, 1);
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
}

.new-overview-learn-title-line {
  width: 0;
  height: 21px;
  border: 1px solid rgba(224, 224, 224, 1);
  margin: 0px 20px;
}

.new-overview-learn-card:hover {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.new-overview-learn-card-left-t {
  position: relative;
  height: 26px;
}

.new-overview-learn-card-left-t-text {
  color: rgb(25, 25, 25);
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  position: absolute;
  height: 26px;
}

.new-overview-learn-card-left-m {
  flex: 1;
}

.new-overview-learn-card-left-m-text {
  color: rgba(128, 128, 128, 1);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.new-overview-learn-card-left-b {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.new-overview-learn-card-left-b-link {
  color: rgba(20, 118, 255, 1);
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  cursor: pointer;
}

.new-overview-learn-card-left-b-link:hover {
  text-decoration: underline;
}

.new-overview-learn-card-left-b-link-disable {
  color: #c2c2c2;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}

.new-overview-samestyle-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 48px 0px 16px 0px;
}

.new-overview-samestyle-title-l {
  color: rgba(25, 25, 25, 1);
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;

}

.new-overview-samestyle-title-r {
  color: rgba(20, 118, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}

.new-overview-samestyle-title-r-disable {
  color: #c2c2c2;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.new-overview-samestyle-content-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 16px;
  flex: 1;
  height: 202px;
}

.new-overview-samestyle-content-card:hover {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.new-overview-samestyle-content-card-t {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .new-overview-samestyle-content-card-t-l {
    width: 48px;
    height: 48px;
    border-radius: 8px;
  }

  .new-overview-samestyle-content-card-t-r {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;

    .new-overview-samestyle-content-card-t-r-title {
      position: relative;
      height: 24px;

      .new-overview-samestyle-content-card-t-r-title-text {
        color: rgba(25, 25, 25, 1);
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        position: absolute;
        height: 26px;
      }
    }

    .new-overview-samestyle-content-card-t-r-content {
      display: flex;
      flex-direction: row;
      gap: 8px;

      .new-overview-samestyle-content-card-t-r-content-tip-a {
        color: rgba(131, 47, 214, 1);
        background: rgba(244, 224, 252, 1);
        padding: 0px 4px 0px 4px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }

      .new-overview-samestyle-content-card-t-r-content-tip-b {
        color: rgba(217, 105, 0, 1);
        background: rgba(255, 235, 209, 1);
        padding: 0px 4px 0px 4px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }

      .new-overview-samestyle-content-card-t-r-content-tip-c {
        color: rgba(20, 118, 255, 1);
        background: rgba(222, 236, 255, 1);
        padding: 0px 4px 0px 4px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }

      .new-overview-samestyle-content-card-t-r-content-tip-d {
        color: rgba(2, 153, 49, 1);
        background: rgba(213, 242, 220, 1);
        padding: 0px 4px 0px 4px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }

      .new-overview-samestyle-content-card-t-r-content-tip-t {
        color: rgba(89, 89, 89, 1);
        background: rgba(89, 89, 89, 0.1);
        padding: 0px 4px 0px 4px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }

}

.new-overview-samestyle-content-card-m {
  flex: 1;
}

.new-overview-samestyle-content-card-m-text {
  color: rgba(128, 128, 128, 1);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.new-overview-samestyle-content-card-b {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .new-overview-samestyle-content-card-b-l {
    display: flex;
    align-items: center;
    gap: 24px;

    .new-overview-samestyle-content-card-b-l-link {
      color: rgba(20, 118, 255, 1);
      font-size: 14px;
      font-weight: bold;
      line-height: 22px;
      cursor: pointer;
    }

    .new-overview-samestyle-content-card-b-l-link:hover {
      text-decoration: underline;
    }

    .new-overview-samestyle-content-card-b-l-link-disable {
      color: #c2c2c2;
      font-size: 14px;
      font-weight: bold;
      line-height: 22px;
    }
  }

  .new-overview-samestyle-content-card-b-r {
    display: flex;
    align-items: center;

    .new-overview-samestyle-content-card-b-r-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: rgba(128, 128, 128, 1);
    }

    .new-overview-samestyle-content-card-b-r-val {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: rgba(25, 25, 25, 1);
    }
  }
}

.new-overview-lead-title {
  margin-top: 48px;
  margin-bottom: 16px;
  color: rgba(25, 25, 25, 1);
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.new-overview-lead-content {
  gap: 16px;
  display: flex;
  flex-direction: row;
}

.new-overview-lead-content-card {
  padding: 16px 24px 16px 24px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  flex: 1;

  .new-overview-lead-content-card-left {
    width: 24px;
    height: 24px;
  }

  .new-overview-lead-content-card-right {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.new-overview-lead-content-card:hover {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.partTwoLoad {
  width: 100%;
  margin-top: 24px;

  .tutorial-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 12px;
  }

  .workspace {
    position: relative;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
