.add-user-modal {
  width: 700px !important;
  height: 800px !important;
}
.add-user {
  #searchbox-basic{
    width: 80% !important;
  }
  .left-con {
    border-right: 1px solid #cccccc;
    padding-right: 20px;
    width: 50%;
  }
  .right-con {
    padding-left: 20px;
    width: 50%;
  }
  .user-list {
    height: 300px;
    color: #191919;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    .user-item {
      margin-bottom: 3px;
      cursor: pointer;
    }
  }
}
