<div
  class="pw-common-node-wrapper"
  [ngClass]="{
    'pw-common-node-error':
      alertContent.length > 0 || nodeInfo.configs.valid === false,
    'pw-common-node-selected': alertContent.length === 0 && (isSelected || isSelection),
    'pw-common-node-hover': alertContent.length === 0 && !(isSelected || isSelection),
    'pw-common-node-extra': alertContent.length === 0
  }"
>
  <div *ngIf="alertContent.length > 0" class="pw-tips bg-[#ffeae8]">
    <div class="flex items-center gap-[4px]">
      <img alt="" class="node-img h-[16px] w-[16px]" [src]="validateAlertIcon" />
      <span>{{ 'node_error' | i18nextEager }}</span>
    </div>
    <button
      nz-button
      nzType="link"
      class="detail-tip !p-0 !h-auto"
      nz-popover
      [nzPopoverContent]="customTipTmpl"
      nzPopoverPlacement="top"
    >
      {{ 'details' | i18nextEager }}
    </button>
  </div>

  <div
    *ngIf="runNodeStatus"
    class="pw-tips"
    [ngStyle]="{ 'background-color': getBgColor(runNodeStatus),color: getColor(runNodeStatus) }"
  >
    <div class="flex items-center gap-[4px]">
      <img alt=""
        class="node-img h-[16px] w-[16px]"
        [src]="getNodeStatus(runNodeStatus)"
      />
      <span>{{ getNodeStatusText(runNodeStatus) }}</span>
      <span>{{ nodeElapsedTime }}</span>
    </div>
    <div class="node-test-info" (click)="onClickTestInfo($event)">{{ 'show_detail' | i18nextEager}}</div>
  </div>

  <div *ngIf="nodeInfo.configs.valid === true" class="pw-common-node">
    <div class="node-header">
      <div class="node-icon-name">
        <div
          [ngClass]="isExpand ? 'node-open' : 'node-close'"
          (click)="onSwitchExpand()"
        ></div>

        <img class="node-icon" [src]="codeImgUrl" alt="code-node" />
        <div class="node-name" lineClamp>
          {{ nodeInfo.name }}
        </div>
      </div>

      <div class="node-oprs" *ngIf="!isFlowReadonly">
        <div (click)="onClickTest()" class="single-test-icon"></div>
        <div class="cursor-pointer" nz-dropdown [nzDropdownMenu]="actionMenu" nzTrigger="click" nzPlacement="bottomRight">
          <nz-icon nzType="more" nzTheme="outline"></nz-icon>
        </div>
        <nz-dropdown-menu #actionMenu="nzDropdownMenu">
          <ul nz-menu>
            @for (action of actions; track action.label) {
              <li nz-menu-item (click)="onClickAction(action)">
                <span>{{ action.label }}</span>
              </li>
            }
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
    <node-card-description *ngIf="isExpand" [description]="nodeInfo.configs?.descriptionText" [originDescription]="nodeInfo.configs?.original_info?.description" [nodeInfo]="nodeInfo"></node-card-description>

    <div  class="node-groups"  *ngIf="isExpand">
      <div class="node-group" *ngIf="nodeInfo.type ==='Mcp'">
        <div class="w-[calc(100%-120px)]">{{ 'tool' | i18nextEager }}</div>
        <div class="w-[120px]">
          {{ nodeInfo.configs.tool_name || 'not_configured' | i18nextEager }}
        </div>
      </div>

      <div class="node-group" *ngIf="['DataProcess', 'DataSynthesis'].includes(nodeInfo.type)">
        <div class="w-[calc(100%-120px)]">{{'mcpservicemodalcomponent_436'| i18nextEager}}</div>

        <div class="cell-box flex text-[#595959]" *ngFor="let item of nodeOperators.slice(0,3); index as i">
          <div>
            {{i+1}} {{ item.name }}
          </div>
        </div>

        <div class="w-[120px] text-[#595959]" *ngIf="nodeOperators.length > 3">
          {{'mcpservicenodecomponent_438'| i18nextEager:{nodeOperators:nodeOperators.length} }}
        </div>
        <div class="w-[120px] text-[#595959]" *ngIf="nodeOperators.length <= 3">
          {{'mcpservicenodecomponent_439'| i18nextEager:{nodeOperators:nodeOperators.length} }}
        </div>
      </div>

      <div class="node-group">
        <div class="flex">
          <div class="w-[calc(100%-120px)]">
            {{ 'input_params' | i18nextEager }}
          </div>
          <div class="w-[120px]">{{ 'value' | i18nextEager }}</div>
        </div>
        <meta-input-params [inputs]="nodeInfo.inputs" />
      </div>

      <div class="node-group">
        <div class="flex">
          <div class="w-[calc(100%-120px)]">
            {{ 'output_params' | i18nextEager }}
          </div>
          <div class="w-[120px]">{{ 'description' | i18nextEager }}</div>
        </div>
        <meta-output-params [outputs]="nodeInfo.outputs" />
      </div>
    </div>
  </div>
  <div *ngIf="nodeInfo.configs.valid === false" class="rounded-lg bg-[#FFEAE8]">
    <div
      class="flex items-center gap-[4px] pb-[5px] pl-[16px] pr-[16px] pt-[5px]"
    >
      <img alt="" class="h-[14px] w-[14px]" [src]="validateAlertIcon" />
      <span>{{ 'mcp_service_no_exist' | i18nextEager }}</span>
    </div>
    <div class="rounded-lg bg-white pb-[22px] pt-[22px]">
      <div class="flex flex-col items-center justify-center">
        <img class="h-[24px] w-[24px]" [src]="codeImgUrl" alt="" />
        <div class="mt-[5px] text-[14px] font-semibold leading-[22px]">
          {{ nodeInfo.configs.name }}
        </div>
      </div>
      <div class="mt-[14px] flex justify-center">
        <button type="button" nz-button (click)="delNode($event)">
          {{ 'delete_node' | i18nextEager }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #customTipTmpl>
  <div *ngFor="let item of alertContent">{{ item }}</div>
</ng-template>
