<div class="flex h-full w-full flex-col" (keydown)="handleKeyDown($event)">
  <div class="mb-[16px] block">
    <div class="flex w-[calc(100%-38px)] items-center justify-between">
      <div class="flex items-center gap-[8px]">
        <img class="model-config-icon" [src]="iconUrl" alt="qa-node" />

        <edit-name [(name)]="nodeInfo.name" (onBlurConfirm)="updateName()"></edit-name>
      </div>

      <div class="flex items-center gap-[16px]" *ngIf="!isFlowReadonly">
        <div class="cursor-pointer" nz-tooltip [nzTooltipTitle]="'icon-more' | i18nextEager">
          <div nz-dropdown [nzDropdownMenu]="actionsMenu" nzTrigger="click" class="pw-three-dots-more-modal">
            <span nz-icon nzType="more" nzTheme="outline"></span>
          </div>
          <nz-dropdown-menu #actionsMenu="nzDropdownMenu">
            <ul nz-menu>
              <li *ngFor="let action of actions" nz-menu-item (click)="onClickAction(action)">{{ action.label }}</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div class="h-[16px] w-[1px] bg-[#dbdbdb]"></div>
      </div>
    </div>

    <node-description [nodeInfo]="nodeInfo" (descriptionChange)="updateView()"></node-description>

    <div class="mt-[16px] h-[1px] w-full bg-[#f0f0f0]"></div>
  </div>

  <div id="flow-llm-modal-body" class="relative h-full w-full overflow-auto flex-1">
    <meta-acc-block id="qa-strategy" [title]="'problem_configuration' | i18nextEager">
      <ng-template #content>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <span>{{ 'qamodalcomponent_551' | i18nextEager }}</span>
          </div>
          <nz-radio-group [(ngModel)]="responseTypeSelected" (ngModelChange)="onSave()" nzButtonStyle="solid">
            <label nz-radio-button [nzValue]="responseTypes[0]">{{ responseTypes[0].text }}</label>
            <label nz-radio-button [nzValue]="responseTypes[1]">{{ responseTypes[1].text }}</label>
          </nz-radio-group>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <span>{{ 'qamodalcomponent_552' | i18nextEager }}</span>
            <span nz-tooltip [nzTooltipTitle]="strategyTip" nzTooltipPlacement="right" class="cursor-pointer">
              <span nz-icon nzType="question-circle" nzTheme="outline"></span>
            </span>
          </div>
          <nz-radio-group [(ngModel)]="strategyTypeSelected" (ngModelChange)="changeStrategyType($event)" nzButtonStyle="solid">
            <label nz-radio-button [nzValue]="strategyTypes[0]">{{ strategyTypes[0].text }}</label>
            <label nz-radio-button [nzValue]="strategyTypes[1]">{{ strategyTypes[1].text }}</label>
          </nz-radio-group>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <span>{{ 'qamodalcomponent_553' | i18nextEager }}</span>
            <span nz-tooltip [nzTooltipTitle]="writeTip" nzTooltipPlacement="right" class="cursor-pointer">
              <span nz-icon nzType="question-circle" nzTheme="outline"></span>
            </span>
          </div>
          <nz-radio-group [(ngModel)]="writeTypeSelected" (ngModelChange)="onSave()" nzButtonStyle="solid">
            <label nz-radio-button [nzValue]="writeTypes[0]">{{ writeTypes[0].text }}</label>
            <label nz-radio-button [nzValue]="writeTypes[1]">{{ writeTypes[1].text }}</label>
          </nz-radio-group>
        </div>
        <div class="flex flex-col gap-2">
          <span
            >{{ 'qamodalcomponent_554' | i18nextEager }}
            <span nz-tooltip [nzTooltipTitle]="'qamodalcomponent_547' | i18nextEager" nzTooltipPlacement="right" class="cursor-pointer">
              <span nz-icon nzType="question-circle" nzTheme="outline"></span>
            </span>
          </span>
          <form [formGroup]="questionListForm" class="question-form">
            <div formArrayName="headers" class="question-list">
              @for (item of getHeadersControls().controls; track item; let i = $index) {
                <div class="single-question" [formGroupName]="i" [class.error]="isControlInvalid(item)">
                  <span class="text-[#808080]">{{ i }}</span>
                  <div class="border">
                    <meta-cmd-textarea
                      id="qaCmdTextarea"
                      class="block h-[180px] w-full"
                      [(ngModel)]="item.get('key').value"
                      [variants]="tipVals"
                      [ngModelOptions]="{ standalone: true }"
                      [placeholder]="'var_input_placeholder1' | i18nextEager"
                      [maxHeight]="''"
                      [minHeight]="''"
                      (ngModelChange)="onInputChange($event, i); changeUpdateTime()"
                      (compositionstart)="onCompositionStart(i)"
                      (compositionend)="onCompositionEnd()"
                      (blur)="onBlur(item)"
                    ></meta-cmd-textarea>
                    <span
                      nz-icon
                      nzType="minus-circle"
                      nzTheme="fill"
                      class="cursor-pointer"
                      [class.disabled-delete-icon]="isTextareaEmpty(item)"
                      (click)="deleteOneQuestion(item)"
                      *ngIf="!isFlowReadonly"
                    ></span>
                  </div>
                </div>
              }
              @if (needValid && getHeadersControls()?.controls?.length === 1 && !getHeadersControls()?.controls?.[0]?.get('key')?.value) {
                <div class="mt-2 text-[#f23030]">
                  {{ 'prompt_not_empty' | i18nextEager }}
                </div>
              }
            </div>
          </form>
        </div>
      </ng-template>
    </meta-acc-block>

    <div class="my-[16px] h-[1px] w-full bg-[#f0f0f0]"></div>

    <meta-acc-block class="mt-4 block" [title]="'input_params' | i18nextEager">
      <ng-template #content>
        <div class="mt-2 flex items-center gap-1">
          <div class="w-1/3 text-label">
            {{ 'param_name' | i18nextEager }}
          </div>
          <div class="flex w-2/3 items-center gap-2 text-label">
            <div class="flex h-fit w-[calc(100%-16px)] items-center">
              <div class="w-[35%]">{{ 'type' | i18nextEager }}</div>
              <div class="w-[65%]">{{ 'value' | i18nextEager }}</div>
            </div>
            <div class="h-full w-[16px]"></div>
          </div>
        </div>

        <form #inputForm="ngForm">
          @for (param of inputParams; track param; let i = $index) {
            <div class="mt-2 flex gap-1">
              <div class="w-1/3">
                @if (!isIndexParam(i)) {
                  <input
                    style="width: 100%"
                    type="text"
                    [name]="'inputFormName' + i"
                    nz-input
                    [(ngModel)]="param.name"
                    (ngModelChange)="param.name = $event; onNameChange(); changeUpdateTime()"
                    [placeholder]="'input_placeholder' | i18nextEager"
                    [valueValidityValidator]="getInputNames(i)"
                    (blur)="inputOnSave()"
                    [class.input-error]="
                      inputForm?.controls['inputFormName' + i]?.invalid &&
                      (inputForm?.controls['inputFormName' + i]?.dirty || inputForm?.controls['inputFormName' + i]?.touched)
                    "
                  />
                  <div
                    *ngIf="
                      inputForm?.controls['inputFormName' + i]?.invalid &&
                      (inputForm?.controls['inputFormName' + i]?.dirty || inputForm?.controls['inputFormName' + i]?.touched)
                    "
                    class="error-tip"
                  >
                    {{ inputForm?.controls['inputFormName' + i]?.errors?.serviceName?.tiErrorMessage }}
                  </div>
                } @else {
                  <span class="flex h-7 items-center">{{ param.name }}</span>
                }
              </div>

              <div class="flex w-2/3 gap-[8px]">
                <div class="flex h-fit w-[calc(100%-16px)] items-center gap-2">
                  <div class="flex w-full">
                    <div class="w-[35%]">
                      <nz-select
                        class="combo-select-left"
                        style="width: 100%"
                        [(ngModel)]="param.value.type"
                        (ngModelChange)="onTypeChange(param)"
                        [name]="'inputFormType' + i"
                      >
                        @for (option of isIndexParam(i) ? indexSourceOptions : sourceOptions; track option.value) {
                          <nz-option [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                        }
                      </nz-select>
                    </div>

                    <div class="w-[65%]">
                      @if (param.value.type === 'literal') {
                        <input
                          class="combo-select-right"
                          style="width: 100%"
                          type="text"
                          [name]="'inputFormValue' + i"
                          nz-input
                          nonEmptyValidator
                          [(ngModel)]="param.value.content"
                          (ngModelChange)="param.value.content = $event; changeUpdateTime()"
                          [placeholder]="'input_placeholder' | i18nextEager"
                          [positiveIntIndexStr]="isIndexParam(i) ? questionLimit : EValidationMode.SKIP"
                          (blur)="inputOnSave()"
                          [class.input-error]="
                            inputForm?.controls['inputFormValue' + i]?.invalid &&
                            (inputForm?.controls['inputFormValue' + i]?.dirty || inputForm?.controls['inputFormValue' + i]?.touched)
                          "
                        />
                        <div
                          *ngIf="
                            inputForm?.controls['inputFormValue' + i]?.invalid &&
                            (inputForm?.controls['inputFormValue' + i]?.dirty || inputForm?.controls['inputFormValue' + i]?.touched)
                          "
                          class="error-tip"
                        >
                          {{ inputForm?.controls['inputFormValue' + i]?.errors?.serviceName?.tiErrorMessage }}
                        </div>
                      }
                      @if (param.value.type === 'ref') {
                        <input-tree-select
                          style="width: 100%"
                          [(ngModel)]="param.value.content"
                          [options]="param.refs"
                          [name]="'inputFormValue' + i"
                          refSelectedRequire
                          [placeholder]="'select_placeholder' | i18nextEager"
                          (select)="treeSelect()"
                        ></input-tree-select>
                        <div
                        *ngIf="
                          inputForm?.controls['inputFormValue' + i]?.invalid &&
                          (inputForm?.controls['inputFormValue' + i]?.dirty || inputForm?.controls['inputFormValue' + i]?.touched)
                        "
                        class="error-tip"
                      >
                        {{ inputForm?.controls['inputFormValue' + i]?.errors?.serviceName?.tiErrorMessage }}
                      </div>
                      }
                    </div>
                  </div>
                </div>
                <div class="flex h-4 w-4 items-center">
                  @if (!isIndexParam(i)) {
                    <span class="cursor-pointer pt-2 !text-[16px] text-[#191919]" (click)="deleteInputParam(i)">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </span>
                  }
                </div>
              </div>
            </div>
          }
        </form>
      </ng-template>

      <ng-template #right>
        <div class="flex items-center justify-center">
          <button
            (click)="addInputParam()"
            class="w-fit"
            nz-button
            nz-tooltip
            [nzTooltipTitle]="'add_params' | i18nextEager"
            [nzType]="'link'"
            [disabled]="isReachedParamLimit(inputParams)"
          >
            <span nz-icon nzType="plus"></span>
          </button>
        </div>
      </ng-template>
    </meta-acc-block>

    <div class="my-[16px] h-[1px] w-full bg-[#f0f0f0]"></div>

    <meta-acc-block class="mt-4 block w-full" [title]="'output_params' | i18nextEager">
      <ng-template #content>
        <readonly-params-tree [params]="nodeInfo.outputs" />
      </ng-template>
    </meta-acc-block>

    <struct-output #structOutput [nodeInfo]="nodeInfo" (changeEvent)="structOnSave()"></struct-output>
  </div>
</div>
