:host {
  .memory-lib-delete-wrapper {
    .loading-container {
      display: flex;
      justify-content: center;
      padding: 32px 0;
    }

    .referenced-resource-list {
      margin-bottom: 16px;

      .list-title {
        font-weight: 600;
        margin-bottom: 8px;
      }

      .delete-page {
        margin-top: 8px;
        display: flex;
        justify-content: flex-end;
      }
    }

    .delete-confirm-wrapper {
      .confirm-tip {
        margin-bottom: 4px;

        .confirm-text {
          color: #595959;
        }

        .confirm-value {
          font-weight: 600;
        }

        .auto-input {
          color: #1476FF;
          cursor: pointer;
          margin-left: 8px;
        }
      }
    }

    .no-referenced-container {
      .delete-tip-title {
        margin-bottom: 8px;
      }

      ul {
        padding-left: 16px;

        li {
          list-style: disc;
          color: #595959;
          margin-bottom: 4px;
        }
      }
    }
  }
}
