.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.export-modal-container {
  padding: 8px;
}

.header {
  margin-bottom: 20px;
}

.main-container {
  ::ng-deep .ant-table-wrapper {
    background: #fff;
  }
}
