<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.prompt.engineering.mapper.update.UpdatePromptTemplateMapper">

    <resultMap id="BaseResultMap" type="com.openjiuwen.studio.prompt.engineering.entity.PePromptTemplate">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="source" column="source" jdbcType="VARCHAR"/>
        <result property="variables" column="variables" jdbcType="VARCHAR"/>
        <result property="ptType" column="pt_type" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="createdOn" column="created_on" jdbcType="TIMESTAMP"/>
        <result property="updatedOn" column="updated_on" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="workspaceId" column="workspace_id" jdbcType="VARCHAR"/>
        <result property="projectId" column="project_id" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="fullTemplateMap" type="com.openjiuwen.studio.prompt.engineering.entity.PePromptTemplate"
               extends="BaseResultMap">
        <association property="industry"
                     resultMap="com.openjiuwen.studio.prompt.engineering.mapper.PeIndustryMapper.BaseResultMap"
                     javaType="com.openjiuwen.studio.prompt.engineering.entity.Industry"
                     columnPrefix="tpi_"></association>
        <collection property="tags" ofType="com.openjiuwen.studio.prompt.engineering.entity.PeTag"
                    resultMap="com.openjiuwen.studio.prompt.engineering.mapper.PeTagMapper.TagResultMap"
                    columnPrefix="tpt_"></collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,prompt,
        source,variables,creator,
        updater,created_on,updated_on
    </sql>

    <select id="selectAllTemplates" resultMap="fullTemplateMap">
        SELECT
            tppl.*,
            tpt.id            tpt_id,
            tpt.name          tpt_name,
            tpt.name_en       tpt_name_en,
            tpi.id            tpi_id,
            tpi.name          tpi_name,
            tpi.name_en       tpi_name_en,
            tpi.description   tpi_description,
            tpi.created_on    tpi_created_on,
            tpi.updated_on    tpi_updated_on
        FROM lms_pe.t_pe_prompt_library tppl
                 LEFT JOIN lms_pe.t_mapping_pe_template_tag tmptt ON tppl.id = tmptt.template_id
                 LEFT JOIN lms_pe.t_pe_tag tpt ON tpt.id = tmptt.tag_id
                 LEFT JOIN lms_pe.t_pe_industry tpi ON tppl.industry_id = tpi.id
    </select>



</mapper>
