.file-desc {
  width: 64%;
  word-break: break-all;
  text-align: center;
}

.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textarea-h {
  height: 120px !important;
  min-height: 120px !important;
  max-height: 120px !important;
}
