#exceed-header {
  .header {
    display: flex;
    align-items: center;

    .info {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}

::ng-deep .intent-add-class {
  width: 400px !important;
}

::ng-deep .intent-add-class .custom-modal-header {
  padding: 32px 32px 0px !important;
  font-size: 16px;
  font-weight: 600;
}

::ng-deep .intent-add-class .custom-modal-body {
  padding: 16px 32px !important;
}

::ng-deep .intent-add-class .custom-modal-footer {
  padding: 0px 32px 32px !important;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
