#exceed-header {
  .header {
    display: flex;
    align-items: center;

    .info {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}

::ng-deep .know-obs-exceed-class {
  width: 400px !important;
}

::ng-deep .know-obs-exceed-class .custom-modal-header {
  padding: 24px 24px 0px !important;
  font-size: 16px;
  font-weight: 500;
}

::ng-deep .know-obs-exceed-class .custom-modal-body {
  padding: 16px 24px !important;
}

::ng-deep .know-obs-exceed-class .custom-modal-footer {
  padding: 0px 24px 24px !important;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

::ng-deep .know-obs-exceed-class .ant-modal-body {
  padding: 0 !important;
}
