#exceed-header {
  .header {
    display: flex;
    align-items: center;

    .info {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}

::ng-deep .know-exceed-class {
  width: 400px !important;
}

::ng-deep .know-default-exceed-class {
  width: 550px !important;
}

::ng-deep .know-exceed-class .ti3-modal-header {
  padding: 24px 24px 0px !important;
}

::ng-deep .know-exceed-class .ti3-modal-body {
  padding: 16px 24px !important;
}

::ng-deep .know-exceed-class .ti3-modal-footer {
  padding: 0px 24px 24px !important;
}

::ng-deep .know-default-exceed-class .ti3-modal-header {
  padding: 24px 24px 0px !important;
}

::ng-deep .know-default-exceed-class .ti3-modal-body {
  padding: 16px 24px !important;
}

::ng-deep .know-default-exceed-class .ti3-modal-footer {
  padding: 0px 24px 24px !important;
}

::ng-deep .know-default-exceed-class .ti3-modal-footer button:nth-of-type(3) {
  margin-left: 8px;
}
