:host {
  ::ng-deep {
    .tp-halfmodal-cotent meta-exception-modal {
      display: block;
      height: 100%;
    }
  }
}

.editor-wrapper {
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  width: 100%;
  padding: 14px;
}

.icon-border {
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  border: 1px solid #c2c2c2;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: #191919;
  }
}
