.box {
  box-shadow: 0 4px 22px 2px rgb(0 0 0 / 10%), 0 2px 14px -2px rgb(0 0 0 / 10%);;
}

.arrow {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  margin: auto;
  background-color: #fff;
  content: "";
  border-radius: 0 0 2px;
  pointer-events: none;
  transform: translateY(-8px) rotate(45deg);
}