<div
  class="flex h-16 w-full items-center justify-between border-b-[1px] bg-white px-8"
>
  <div class="flex items-center gap-2">
    <nz-icon nzType="left" nzTheme="outline" (click)="onClickBack()" class="cursor-pointer text-sm" />
    <div class="h-4 w-[1px] bg-[#888888]"></div>
    <ng-container>
      <input
        #titleInput
        *ngIf="isEditing; else elseBlock"
        class="w-48"
        [(ngModel)]="title"
        (blur)="onTitleChanged()"
        nz-input
      />
      <ng-template #elseBlock>
        <div class="text-lg font-bold leading-7 text-label">
          {{ title }}
        </div>
      </ng-template
      >
    </ng-container>
  </div>
  <ng-content></ng-content>
</div>
