# 微服务的docker镜像配置，必填，通过docker images命令查询（格式 REPOSITORY:TAG）
STUDIO_CONSOLE_IMAGE=studio-console:1.0.0.20260526091150.x86_64
STUDIO_MANAGER_IMAGE=studio-manager:1.0.0.20260526091150.x86_64
STUDIO_SERVICE_IMAGE=studio-service:1.0.0.20260526091150.x86_64
STUDIO_RUNTIME_IMAGE=studio-runtime:1.0.0.20260526091150.x86_64

# 数据库 必填，否则服务启动会报错
SPRING_DATASOURCE_URL=jdbc:mariadb://${MYSQL_DB_IP}:3306/agent-builder?allowMultiQueries=true&useUnicode&characterEncoding=UTF-8&autoReconnect=true&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

# redis 必填，否则服务启动会报错
REDIS_HOST=${REDIS_HOST}
REDIS_PASSWORD=
REDIS_PORT=6379

# obs 必填，否则服务启动会报错
OBS_URL=https://${OBS_IP}:9000
OBS_BUCKET=agent-builder
OBS_AK=
OBS_SK=

# 后端服务https证书相关，默认忽略
SERVER_SSL_ENABLED=false
CB_CF_SERVER_KEYSTORE=
CB_CF_TRUST_KEYSTORE=
SERVER_SSL_TRUST_STORE_PASSWORD=
SERVER_SSL_KEY_STORE_PASSWORD=
SERVER_SSL_KEY_PASSWORD=

# studio-runtime服务https证书相关，默认忽略
HTTPS_CERT_FILE=
HTTPS_KEY_FILE=
TLS_CERT_KEY_PASSWD=
