
.status-bar-divider {
  width: 1px;
  height: 16px;
  background-color: #dbdbdb;
}

.status-bar {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 16px;
  margin-left: 12px;
}

.chat-box{
  display: flex;
  height: calc(100% - 64px);
  border-top: 1px solid rgba(0, 0, 0, 0.08);

  .left{
    width: 300px;
  }

  .center{
    flex: 1;
  }

  .right{
    width: 600px;
  }
}
