:host {
  ::ng-deep {
    .tp-halfmodal-cotent meta-child-flow-modal {
      display: block;
      height: 100%;
    }
  }
}

::ng-deep meta-child-flow-modal {
  display: block;
  height: 100%;
}

.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error-tip {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.input-error {
  border-color: #ff4d4f !important;
}
