:host ::ng-deep .multi-field-search {
  .ant-select-selection-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    span {
      line-height: 30px;
    }
  }
}
