.button-right {
  margin-right: 8px;
}

#config-env-variable {
  .form-top {
    margin-top: 8px;
    max-height: calc(100vh - 330px);
    overflow-y: auto;
  }

  .operate-button {
    display: flex;
    margin-bottom: 16px;
  }

  .item-style {
    display: flex;
    width: 100%;
  }

  .list-content {
    margin-bottom: 16px;
  }

  .tip-content {
    color: #f5222d;
    font-size: 12px;
    margin-top: 4px;
  }
}

#import-main-content {
  .alert-style {
    width: 100%;
    margin-bottom: 16px;
  }

  .main-content {
    display: flex;
    height: 100%;

    .json-input-content {
      flex: 1;
      height: 402px;
      box-sizing: border-box;
      padding: 10px 10px 10px 0;
      border: 1px solid rgba(194, 194, 194, 1);
      border-radius: 6px;
    }

    .right-area {
      padding: 16px 20px;
      margin-left: 24px;
      border-radius: 8px;
      width: 304px;
      background: rgba(240, 247, 255, 1);

      .example-name {
        color: rgba(25, 25, 25, 1);
        font-size: 14px;
        font-weight: 600;
      }

      .example-desc {
        color: rgba(89, 89, 89, 1);
        font-size: 14px;
        font-weight: 500;
      }

      .img-style {
        height: 249px;
        width: 264px;
        margin-top: 16px;
      }
    }
  }
}
