.acc-blk-wrapper-new {
  width: 100%;
  padding: 16px 0;
  border-top: 1px solid #e5e5e5;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
}

