.memory-management {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  .memory-icon {
    width: 16px;
    height: 16px;
    background: url(../../../assets/icons/memory-manage.svg) center;
    background-size: 100%;
  }
}
