.m-no-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  .noData {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url('../../../assets/images/noData.svg') no-repeat center;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .img {
    width: 108px;
    object-fit: contain;
  }
}
