:host {
  ::ng-deep {
    .tp-halfmodal-cotent meta-end-modal {
      display: block;
      height: 100%;
    }
  }
}

.icon-border {
  width: 24px;
  height: 24px;
  padding: 4px;
  cursor: pointer;
  border: none;
}

.error-tip {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.input-error {
  border-color: #ff4d4f !important;
}
