::ng-deep {
  .tp-halfmodal-cotent meta-message-modal {
    display: block;
    height: 100%;
  }
}

.icon-border {
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background-color: #F2F5FC;
  }
}

.error-tip {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.input-error {
  border-color: #ff4d4f !important;
}