<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.agent.runtime.mapper.AnalyticsEventMapper">
    <resultMap id="BaseResultMap"
        type="com.openjiuwen.studio.agent.runtime.entity.analytics.AnalyticsEventEntity">
        <id column="event_id" jdbcType="VARCHAR" property="eventId" />
        <result column="event_type" jdbcType="VARCHAR" property="eventType" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="project_id" jdbcType="VARCHAR" property="projectId" />
        <result column="event_time" jdbcType="TIMESTAMP" property="eventTime" />
        <result column="event_date" jdbcType="TIMESTAMP" property="eventDate" />
        <result column="app_type" jdbcType="VARCHAR" property="appType" />
        <result column="app_id" jdbcType="VARCHAR" property="appId" />
        <result column="channel" jdbcType="VARCHAR" property="channel" />
        <result column="new_app_user" jdbcType="BOOLEAN" property="isNewAppUser" />
    </resultMap>
    <sql id="Base_Column_List">
        event_id
        ,
        event_type,
        user_id,
        project_id,
        event_time,
        event_date,
        app_type,
        app_id,
        channel,
        new_app_user
    </sql>
    <insert id="createEntity"
        parameterType="com.openjiuwen.studio.agent.runtime.entity.analytics.AnalyticsEventEntity">
        insert into t_analytics_event (event_id, event_type, user_id, project_id, event_time, event_date, app_type,
                                       app_id, channel, new_app_user)
        values (#{entity.eventId,jdbcType=VARCHAR}, #{entity.eventType,jdbcType=VARCHAR},
                #{entity.userId,jdbcType=VARCHAR}, #{entity.projectId,jdbcType=VARCHAR},
                #{entity.eventTime,jdbcType=TIMESTAMP}, #{entity.eventDate,jdbcType=TIMESTAMP},
                #{entity.appType,jdbcType=VARCHAR},
                #{entity.appId,jdbcType=VARCHAR}, #{entity.channel,jdbcType=VARCHAR},
                #{entity.isNewAppUser,jdbcType=BOOLEAN})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_analytics_event (event_id, event_type, user_id, project_id, event_time, event_date, app_type,
        app_id, channel, new_app_user)
        VALUES
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.eventId,jdbcType=VARCHAR}, #{entity.eventType,jdbcType=VARCHAR},
            #{entity.userId,jdbcType=VARCHAR}, #{entity.projectId,jdbcType=VARCHAR},
            #{entity.eventTime,jdbcType=TIMESTAMP}, #{entity.eventDate,jdbcType=TIMESTAMP},
            #{entity.appType,jdbcType=VARCHAR},
            #{entity.appId,jdbcType=VARCHAR},
            #{entity.channel,jdbcType=VARCHAR},#{entity.isNewAppUser,jdbcType=BOOLEAN})
        </foreach>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete
        from t_analytics_event
        where event_id = #{eventId,jdbcType=VARCHAR}
          and project_id = #{projectId,jdbcType=VARCHAR}
    </delete>
    <select id="getEntity"
        parameterType="com.openjiuwen.studio.agent.runtime.entity.analytics.AnalyticsEventEntity"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_analytics_event
        where 1 = 1
        <if test="entity.eventId != null and entity.eventId != ''">
            and event_id=#{entity.eventId}
        </if>
        <if test="entity.projectId != null and entity.projectId != ''">
            and project_id=#{entity.projectId}
        </if>
        <if test="entity.eventType != null">
            and event_type=#{entity.eventType}
        </if>
        <if test="entity.eventTime != null">
            and event_time=#{entity.eventTime}
        </if>
    </select>
    <select id="getByPrimaryKey"
        parameterType="com.openjiuwen.studio.agent.runtime.entity.analytics.AnalyticsEventEntity"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_analytics_event
        where event_id = #{eventId,jdbcType=VARCHAR}
        and project_id = #{projectId,jdbcType=VARCHAR}
    </select>

    <delete id="clear" parameterType="map">
        delete
        from t_analytics_event
        where event_time BETWEEN #{startTime,jdbcType=TIMESTAMP} AND #{endTime,jdbcType=TIMESTAMP}
    </delete>

    <select id="findFirstUserEvent"
        parameterType="com.openjiuwen.studio.agent.runtime.entity.analytics.AnalyticsEventEntity">
        select event_id
        from t_analytics_event
        WHERE app_id = #{entity.appId,jdbcType=VARCHAR}
          and event_time &lt;= #{entity.eventTime,jdbcType=TIMESTAMP}
          and channel = #{entity.channel,jdbcType=VARCHAR}
          and user_id = #{entity.userId,jdbcType=VARCHAR}
          and new_app_user = 1 limit 1;
    </select>

    <update id="updateFirstUserEvent"
        parameterType="com.openjiuwen.studio.agent.runtime.entity.analytics.AnalyticsEventEntity">
        UPDATE t_analytics_event
        SET new_app_user = 1
        WHERE event_id = #{entity.eventId,jdbcType=VARCHAR};
    </update>
</mapper>
