<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Huawei Technologies Co., Ltd. 2025-2025. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.agent.runtime.mapper.ChannelReleaseMapper">
    <resultMap id="BaseResultMap" type="com.openjiuwen.studio.agent.runtime.entity.ReleaseChannel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <id column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <id column="workspace_id" jdbcType="VARCHAR" property="workspaceId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_type" jdbcType="VARCHAR" property="appType"/>
        <result column="version_id" jdbcType="VARCHAR" property="versionId"/>
        <result column="version_name" jdbcType="VARCHAR" property="versionName"/>
        <result column="channel_type" jdbcType="VARCHAR" property="channelType"/>
        <result column="entry_point" jdbcType="VARCHAR" property="entryPoint"/>
        <result column="qr_code" jdbcType="VARCHAR" property="qrCode"/>
        <result column="short_code" jdbcType="VARCHAR" property="shortCode"/>
        <result column="metadata" jdbcType="VARCHAR" property="metadata"/>
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId"/>
        <result column="app_sub_type" jdbcType="VARCHAR" property="subType" />
        <result column="released_on" jdbcType="TIMESTAMP" property="releasedOn"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        project_id,
        workspace_id,
        app_id,
        app_type,
        version_id,
        version_name,
        channel_type,
        entry_point,
        qr_code,
        short_code,
        metadata,
        status,
        detail,
        creator,
        creator_id,
        app_sub_type,
        released_on
    </sql>

    <select id="selectByAppIdAndShortCodeAndWorkspaceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_release_channel
        where app_id = #{appId,jdbcType=VARCHAR}
        and short_code = #{shortCode,jdbcType=VARCHAR}
        and project_id = #{projectId,jdbcType=VARCHAR}
        and workspace_id = #{workspaceId,jdbcType=VARCHAR}
    </select>

</mapper>
