<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.agent.runtime.mapper.KnowledgeBaseMapper">


    <delete id="delete">
        delete from t_knowledge_base where
        id = #{knowledge_base_id}
    </delete>


    <select id="batchQueryKnowledgeBases"
            resultType="com.openjiuwen.studio.agent.runtime.entity.KnowledgeBaseInfo">
        select kb.id , connector_id,
        knowledge_base_connection_id , params, external_id, kb.status
        from t_knowledge_base kb left join t_knowledge_base_connection kbc on kb.knowledge_base_connection_id = kbc.id
        <where>
        <if test="ids != null and ids.size()>0">
             kb.id IN
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        </where>
    </select>
    <select id="find" resultType="com.openjiuwen.studio.agent.runtime.entity.KnowledgeBaseInfo">
        select kb.id , connector_id,
               knowledge_base_connection_id , params, external_id, kb.status
        from t_knowledge_base kb left join t_knowledge_base_connection kbc on kb.knowledge_base_connection_id = kbc.id
        where kb.id = #{id}
    </select>
</mapper>