#env-management-variables-list {
  .top-title-area {
    display: flex;
    justify-content: space-between;
    margin: 12px 0 24px 0;

    .title-area-left {
      display: flex;
      margin-right: 8px;
      color: rgba(25, 25, 25, 1);
      font-size: 20px;
      font-weight: 600;

      .page-title {
        margin-right: 6px;
      }
    }

    .btn-area {
      display: flex;
      gap: 16px;
    }
  }

  .table-style {
    border: 1px solid rgba(240, 240, 240, 1);
    border-bottom: 0;
    border-radius: 8px;
    overflow: hidden;
  }
}

/* 官方推荐的超链接禁用样式 */
.disabled-operation {
  color: rgba(0, 0, 0, 0.25) !important;
  cursor: not-allowed;
  pointer-events: none;
}
